@-moz-keyframes beizer-spin {
	0% {
		transform: scale(1) rotate(0deg);
	}
	50% {
		transform: scale(0.8) rotate(360deg);
	}
	100% {
		transform: scale(1) rotate(720deg);
	}
}
@-webkit-keyframes  beizer-spin {
	0% {
		transform: scale(1) rotate(0deg);
	}
	50% {
		transform: scale(0.8) rotate(360deg);
	}
	100% {
		transform: scale(1) rotate(720deg);
	}
}

@keyframes  beizer-spin {
	0% {
		transform: scale(1) rotate(0deg);
	}
	50% {
		transform: scale(0.8) rotate(360deg);
	}
	100% {
		transform: scale(1) rotate(720deg);
	}
}

@-moz-keyframes spin {
	0% {
		-moz-transform:  scale(0) rotate(-90deg);
		opacity: 0;
	}
	100% {
		-moz-transform:  scale(1) rotate(0deg);
		opacity: 100;
	}
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: scale(0) rotate(-90deg);
		opacity: 0;
	}
	100% {
		-webkit-transform:  scale(1) rotate(0deg);
		opacity: 100;
	}
}

@keyframes spin {
	0% {
		transform:  scale(0) rotate(-90deg);
		opacity: 0;
	}
	100% {
		transform:  scale(1) rotate(0deg);
		opacity: 100;
	}
}

.element-spin-and-show {
	animation: spin 1s linear 0s normal none;
	-webkit-animation: spin 1s linear 0s normal none ;
}

.loading-spinner {
    animation: 2s cubic-bezier(0.645, 0.045, 0.355, 1) 0s normal none infinite beizer-spin;
    background: url("../img/olapic-logo.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
	display: block;
    height: 37px;
    width: 37px;
    position: absolute;
}
