@-moz-keyframes beizer-spin {
	0% {
		-moz-transform: scale(1) rotate(0deg);
	}
	50% {
		-moz-transform: scale(0.8) rotate(360deg);
	}
	100% {
		-moz-transform: scale(1) rotate(720deg);
	}
}
@-webkit-keyframes  beizer-spin {
	0% {
		-webkit-transform: scale(1) rotate(0deg);
	}
	50% {
		-webkit-transform: scale(0.8) rotate(360deg);
	}
	100% {
		-webkit-transform: scale(1) rotate(720deg);
	}
}

@keyframes  beizer-spin {
	0% {
		transform: scale(1) rotate(0deg);
	}
	50% {
		transform: scale(0.8) rotate(360deg);
	}
	100% {
		transform: scale(1) rotate(720deg);
	}
}

@-moz-keyframes beizer-bounce {  
        0%, 100% {
                -webkit-transform: translateX(0px);
        }
        10%, 30%, 50%, 70%, 90% {
                -webkit-transform: translateX(-10px);
        }
        20%, 40%, 60%, 80% {
                -webkit-transform: translateX(10px);
        }
} 

@-webkit-keyframes  beizer-bounce {
        0%, 100% {
                -moz-transform: translateX(0px);
        }
        10%, 30%, 50%, 70%, 90% {
                -moz-transform: translateX(-10px);
        }
        20%, 40%, 60%, 80% {
                -moz-transform: translateX(10px);
        }   
}

@keyframes beizer-bounce {  
        0%, 100% {
                transform: translateX(0px);
        }
        10%, 30%, 50%, 70%, 90% {
                transform: translateX(-10px);
        }
        20%, 40%, 60%, 80% {
                transform: translateX(10px);
        }
} 

@-moz-keyframes show-and-spin {
	0% {
		-moz-transform:  scale(0) rotate(-90deg);
		opacity: 0;
	}
	100% {
		-moz-transform:  scale(1) rotate(0deg);
		opacity: 100;
	}
}

@-webkit-keyframes show-and-spin {
	0% {
		-webkit-transform: scale(0) rotate(-90deg);
		opacity: 0;
	}
	100% {
		-webkit-transform:  scale(1) rotate(0deg);
		opacity: 100;
	}
}


@keyframes show-and-spin {
	0% {
		transform:  scale(0) rotate(-90deg);
		opacity: 0;
	}
	100% {
		transform:  scale(1) rotate(0deg);
		opacity: 100;
	}
}


.element-spin-and-show {
	display: inline-block;
	animation: show-and-spin 0.5s linear 0s normal none;
	-webkit-animation: show-and-spin 0.5s linear 0s normal none;
}

.bouncing-button {
	display: inline-block;
    animation: 4s cubic-bezier(0.645, 0.045, 0.355, 1) 0s normal none infinite beizer-bounce;
	-webkit-animation: 1s cubic-bezier(0.645, 0.045, 0.355, 1) 0s normal none infinite beizer-bounce;   
}

.bouncing-button:hover {
	display: inline-block;
    -webkit-transform:  scale(2);
}

.loading-spinner {
	display: inline-block;
    animation: 1s cubic-bezier(0.645, 0.045, 0.355, 1) 0s normal none infinite beizer-spin;
	-webkit-animation: 1s cubic-bezier(0.645, 0.045, 0.355, 1) 0s normal none infinite beizer-spin;
}
