
.content {
	margin-top: -20px;
}

.no-space {
	padding: 0px !important;
	margin : 0px !important;
}

.row-marg {
	margin-bottom:25px !important;
}

.content-centered {
	top: -20px;
	width: 55% ;
	margin-left: auto ;
	margin-right: auto ;
	position: relative;
    transform-origin: 50% 50% 0;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
}

.element-wrapper{
	position: relative;
	width: 100%;
}

.element-wrapper:before{
	content: "";
	display: block;
	padding-top: 100%;
}

.element-inner{
	margin: 5px !important; /* Distance between images */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #414042;
	overflow: hidden;
}

.element-inner img {
    background-color: #333333;
	display:hidden;
}

.img-vitral {
	opacity: 100; 
	position: relative;
	-webkit-transform: rotate(45deg) scale(1.4,1.4);
	-moz-transform: rotate(45deg) scale(1.45, 1.45);
	transform: rotate(45deg) scale(1.45, 1.45);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

.element-hidden {
	opacity: 0;
	display:hidde;
}

.img-loading-wrapper {
    bottom: 40%;
    display: block;
    left: 40%;
    opacity: 100;
    position: absolute;
    right: 40%;
    top: 40%;
}

/* HOVER EFFECTS */

.element-inner:hover > .element-caption {
    opacity:0.9;
    background-color:#000;
    color: #FFF;
    -webkit-transform: scale(1);
    font-size: 12px;
    top: 0%;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

.element-inner:hover > .img-vitral {
    -webkit-transform: rotate(45deg) scale(2);
    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
}

.element-caption p {
    position: absolute;    
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 10px;   
    -webkit-transform: scale(1);
}

.element-caption {
    opacity: 0;
    -webkit-transform: scale(20);

    vertical-align:text-bottom;
    
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 20px;
    padding: 10px;
    padding-top: 15px;
    margin: -1px;
    text-align:center;

    position: absolute;
    top: 200%;
    bottom: 0;
    left: 0;
    right: 0;
}
