
<div class="row img-row">
    <div class="item-vitral">
        <div class="item-image-box">
            <img class="img-responsive img-vitral" ng-src="{{imageList[0].image_url}}"/>
        </div>
            <div class="item-image-box">
            <img class="img-responsive img-vitral" ng-src="{{imageList[1].image_url}}"/>
        </div>
    </div>
</div>

<div class="row img-row" style="left: 152px;">
    <div class="item-vitral">
        <div class="item-image-box">
            <img class="img-responsive img-vitral" ng-src="{{imageList[2].image_url}}"/>
        </div>
            <div class="item-image-box">
            <img class="img-responsive img-vitral" ng-src="{{imageList[3].image_url}}"/>
        </div>
    </div>
</div>

<!--div class="row row-vitral">
     <img class="img-responsive img-vitral img-thumbnail" ng-src="{{imageList[5].image_url}}"/>
     <img class="img-responsive img-vitral img-thumbnail" ng-src="{{imageList[6].image_url}}"/>
     <img class="img-responsive img-vitral img-thumbnail" ng-src="{{imageList[7].image_url}}"/>
     <img class="img-responsive img-vitral img-thumbnail" ng-src="{{imageList[8].image_url}}"/>
     <img class="img-responsive img-vitral img-thumbnail" ng-src="{{imageList[9].image_url}}"/>
</div>
<div class="row row-vitral">
     <img class="img-responsive img-vitral img-thumbnail" ng-src="{{imageList[10].image_url}}"/>
     <img class="img-responsive img-vitral img-thumbnail" ng-src="{{imageList[11].image_url}}"/>
     <img class="img-responsive img-vitral img-thumbnail" ng-src="{{imageList[12].image_url}}"/>
     <img class="img-responsive img-vitral img-thumbnail" ng-src="{{imageList[13].image_url}}"/>
     <img class="img-responsive img-vitral img-thumbnail" ng-src="{{imageList[14].image_url}}"/>
</div-->
<div class="pull-right">
    <ul class="pagination pagination-sm">
      <li><a href="#" ng-click="previousPage()">&laquo;</a></li>
      <li><a href="#" ng-click="nextPage()">&raquo;</a></li>
    </ul>
</div>
<div class="clearfix"></div>