<div id="content" class="content">
	<div class="content-centered">
		<div class="row row-pad no-space">
			<div class="col-xs-4 col-sm-4 no-space">
				<div class="element-wrapper">
					<!--img class="img-responsive loading-spinner" src="img/olapic-logo.png"/-->
					<div class="element-inner">
						<div class="img-loading-wrapper" style="text-align: center; vertical-align: middle;">
							<span class="fa fa-repeat loading-spinner fa-2x"></span>						
						</div>
						<div class="element-img element-hidden">
							<img ng-imageload class="img-responsive img-vitral" ng-src="{{imageList[0].image_url}}"/>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-4 col-sm-4 no-space">
				<div class="row no-space">
					<div class="col-md-6 col-sm-6 no-space">
						<div class="element-wrapper">
							<div class="element-inner">
								<div class="img-loading-wrapper" style="text-align: center; vertical-align: middle;">
									<span class="fa fa-repeat loading-spinner fa-2x"></span>
								</div>
								<div class="element-img element-hidden">
									<img ng-imageload class="img-responsive img-vitral" ng-src="{{imageList[1].image_url}}"/>
								</div>
							</div>			
						</div>
					</div>
					<div class="col-md-6 col-sm-6 no-"><!-- Do not remove --></div>
				</div>
				<div class="row no-space">
					<div class="col-md-6 col-sm-6 no-space" >
						<div class="element-wrapper">
							<div class="element-inner">
								<div class="img-loading-wrapper" style="text-align: center; vertical-align: middle;">
									<span class="fa fa-repeat loading-spinner fa-2x"></span>
								</div>
								<div class="element-img element-hidden">
									<img ng-imageload class="img-responsive img-vitral" ng-src="{{imageList[2].image_url}}"/>
								</div>
							</div>				
						</div>				
					</div>
					<div class="col-md-6 col-sm-6 no-space">
						<div class="element-wrapper">
							<div class="element-inner">
								<div class="img-loading-wrapper" style="text-align: center; vertical-align: middle;">
									<span class="fa fa-repeat loading-spinner fa-2x"></span>
								</div>
								<div class="element-img element-hidden">
									<img ng-imageload class="img-responsive img-vitral" ng-src="{{imageList[3].image_url}}"/>
								</div>
							</div>						
						</div>				
					</div>
				</div>
			</div>
			<div class="col-xs-4 col-sm-4 no-space"><!-- Do not remove --></div>
		</div>
		<div class="row row-pad no-space">
			<div class="col-xs-4 col-sm-4 no-space">
				<div class="row no-space">
					<div class="col-md-6 col-sm-6 no-space">
						<div class="element-wrapper">
							<div class="element-inner">
								<div class="img-loading-wrapper" style="text-align: center; vertical-align: middle;">
									<span class="fa fa-repeat loading-spinner fa-2x"></span>
								</div>
								<div class="element-img element-hidden">
									<img ng-imageload class="img-responsive img-vitral" ng-src="{{imageList[4].image_url}}"/>
								</div>
							</div>						
						</div>
					</div>
					<div class="col-md-6 col-sm-6 no-space">
						<div class="element-wrapper">
							<div class="element-inner">
								<div class="img-loading-wrapper" style="text-align: center; vertical-align: middle;">
									<span class="fa fa-repeat loading-spinner fa-2x"></span>
								</div>
								<div class="element-img element-hidden">
									<img ng-imageload class="img-responsive img-vitral" ng-src="{{imageList[5].image_url}}"/>
								</div>
							</div>						
						</div>				
					</div>
				</div>
				<div class="row no-space">
					<div class="col-md-6 col-sm-6 no-space"><!-- Do not remove --></div>
					<div class="col-md-6 col-sm-6 no-space">
						<div class="element-wrapper">
							<div class="element-inner">
								<div class="img-loading-wrapper" style="text-align: center; vertical-align: middle;">
									<span class="fa fa-repeat loading-spinner fa-2x"></span>
								</div>
								<div class="element-img element-hidden">
									<img ng-imageload class="img-responsive img-vitral" ng-src="{{imageList[6].image_url}}"/>
								</div>
							</div>		
						</div>				
					</div>
				</div>
			</div>
			<div class="col-xs-4 col-sm-4 no-space">
				<div class="element-wrapper">
					<div class="element-inner">
						<div class="img-loading-wrapper" style="text-align: center; vertical-align: middle;">
							<span class="fa fa-repeat loading-spinner fa-2x"></span>
						</div>
						<div class="element-img element-hidden">
							<img ng-imageload class="img-responsive img-vitral" ng-src="{{imageList[7].image_url}}"/>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-4 col-sm-4 no-space">
				<div class="row no-space">
					<div class="col-md-6 col-sm-6 no-space">
						<div class="element-wrapper">
							<div class="element-inner">
								<div class="img-loading-wrapper" style="text-align: center; vertical-align: middle;">
									<span class="fa fa-repeat loading-spinner fa-2x"></span>
								</div>
								<div class="element-img element-hidden">
									<img ng-imageload class="img-responsive img-vitral" ng-src="{{imageList[8].image_url}}"/>
								</div>
							</div>				
						</div>
					</div>
					<div class="col-md-6 no-space"><!-- Do not remove --></div>
				</div>
				<div class="row no-space">
					<div class="col-md-6 col-sm-6 no-space">
						<div class="element-wrapper">
							<div class="element-inner">
								<div class="img-loading-wrapper" style="text-align: center; vertical-align: middle;">
									<span class="fa fa-repeat loading-spinner fa-2x"></span>
								</div>
								<div class="element-img element-hidden">
									<img ng-imageload class="img-responsive img-vitral" ng-src="{{imageList[9].image_url}}"/>
								</div>
							</div>				
						</div>				
					</div>
					<div class="col-md-6 col-sm-6 no-space">
						<div class="element-wrapper">
							<div class="element-inner">
								<div class="img-loading-wrapper" style="text-align: center; vertical-align: middle;">
									<span class="fa fa-repeat loading-spinner fa-2x"></span>
								</div>
								<div class="element-img element-hidden">
									<img ng-imageload class="img-responsive img-vitral" ng-src="{{imageList[10].image_url}}"/>
								</div>
							</div>			
						</div>				
					</div>
				</div>
			</div>
		</div>
		<div class="row row-pad no-space">
			<div class="col-xs-4 col-sm-4 no-space"><!-- Do not remove --></div>
			<div class="col-xs-4 col-sm-4 no-space">
				<div class="row no-space">
					<div class="col-md-6 col-sm-6 no-space">
						<div class="element-wrapper">
							<div class="element-inner">
								<div class="img-loading-wrapper" style="text-align: center; vertical-align: middle;">
									<span class="fa fa-repeat loading-spinner fa-2x"></span>
								</div>
								<div class="element-img element-hidden">
									<img ng-imageload class="img-responsive img-vitral" ng-src="{{imageList[11].image_url}}"/>
								</div>
							</div>				
						</div>
					</div>
					<div class="col-md-6 col-sm-6 no-space">
						<div class="element-wrapper">
							<div class="element-inner">
								<div class="img-loading-wrapper" style="text-align: center; vertical-align: middle;">
									<span class="fa fa-repeat loading-spinner fa-2x"></span>
								</div>
								<div class="element-img element-hidden">
									<img ng-imageload class="img-responsive img-vitral" ng-src="{{imageList[12].image_url}}"/>
								</div>
							</div>			
						</div>				
					</div>
				</div>
				<div class="row no-space">
					<div class="col-md-6 col-sm-6 no-space"><!-- Do not remove --></div>
					<div class="col-md-6 col-sm-6 no-space">
						<div class="element-wrapper">
							<div class="element-inner">
								<div class="img-loading-wrapper" style="text-align: center; vertical-align: middle;">
									<span class="fa fa-repeat loading-spinner fa-2x"></span>
								</div>
								<div class="element-img element-hidden">
									<img ng-imageload class="img-responsive img-vitral" ng-src="{{imageList[13].image_url}}"/>
								</div>
							</div>			
						</div>				
					</div>
				</div>
			</div>
			<div class="col-xs-4 col-sm-4 no-space">
				<div class="element-wrapper">
					<div class="element-inner">
						<div class="img-loading-wrapper" style="text-align: center; vertical-align: middle;">
							<span class="fa fa-repeat loading-spinner fa-2x"></span>
						</div>
						<div class="element-img element-hidden">
							<img ng-imageload class="img-responsive img-vitral" ng-src="{{imageList[14].image_url}}"/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
