<div id="content" class="content"  style="margin:10px; margin-top:-5%; ">
	<div class="content-centered content-rotated">
		<div class="row row-pad no-space">
			<div class="col-xs-4 col-sm-4 no-space">
				<div class="element-wrapper">
					<div class="element-inner">
						<div class="img-loading-wrapper" style="text-align: center; vertical-align: middle;">
							<span class="fa fa-repeat loading-spinner fa-2x"></span>						
						</div>
						<div class="element-img element-hidden">
							<img ng-imageload class="img-responsive img-vitral img-vitral-rotated" ng-src="{{imageList[0].image_url}}"/>
                            <div class="element-caption">  
                                <p>{{imageList[0].image_label}}</p>
                            </div> 
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-4 col-sm-4 no-space">
				<div class="row no-space">
					<div class="col-md-6 col-sm-6 no-space">
						<div class="element-wrapper">
							<div class="element-inner">
								<div class="img-loading-wrapper" style="text-align: center; vertical-align: middle;">
									<span class="fa fa-repeat loading-spinner fa-2x"></span>
								</div>
								<div class="element-img element-hidden">
									<img ng-imageload class="img-responsive img-vitral img-vitral-rotated" ng-src="{{imageList[1].image_url}}"/>
                                    <div class="element-caption">  
                                        <p>{{imageList[1].image_label}}</p>
                                    </div> 
								</div>
							</div>			
						</div>
					</div>
					<div class="col-md-6 col-sm-6 no-"><!-- Do not remove --></div>
				</div>
				<div class="row no-space">
					<div class="col-md-6 col-sm-6 no-space" >
						<div class="element-wrapper">
							<div class="element-inner">
								<div class="img-loading-wrapper" style="text-align: center; vertical-align: middle;">
									<span class="fa fa-repeat loading-spinner fa-2x"></span>
								</div>
								<div class="element-img element-hidden">
									<img ng-imageload class="img-responsive img-vitral img-vitral-rotated" ng-src="{{imageList[2].image_url}}"/>
									<div class="element-caption">  
                                        <p>{{imageList[2].image_label}}</p>
                                    </div> 
								</div>
							</div>				
						</div>				
					</div>
					<div class="col-md-6 col-sm-6 no-space">
						<div class="element-wrapper">
							<div class="element-inner">
								<div class="img-loading-wrapper" style="text-align: center; vertical-align: middle;">
									<span class="fa fa-repeat loading-spinner fa-2x"></span>
								</div>
								<div class="element-img element-hidden">
									<img ng-imageload class="img-responsive img-vitral img-vitral-rotated" ng-src="{{imageList[3].image_url}}"/>
									<div class="element-caption">  
                                        <p>{{imageList[3].image_label}}</p>
                                    </div> 
								</div>
							</div>						
						</div>				
					</div>
				</div>
			</div>
			<div class="col-xs-4 col-sm-4 no-space"><!-- Do not remove --></div>
		</div>
		<div class="row row-pad no-space">
			<div class="col-xs-4 col-sm-4 no-space">
				<div class="row no-space">
					<div class="col-md-6 col-sm-6 no-space">
						<div class="element-wrapper">
							<div class="element-inner">
								<div class="img-loading-wrapper" style="text-align: center; vertical-align: middle;">
									<span class="fa fa-repeat loading-spinner fa-2x"></span>
								</div>
								<div class="element-img element-hidden">
									<img ng-imageload class="img-responsive img-vitral img-vitral-rotated" ng-src="{{imageList[4].image_url}}"/>
									<div class="element-caption">  
                                        <p>{{imageList[4].image_label}}</p>
                                    </div> 
								</div>
							</div>						
						</div>
					</div>
					<div class="col-md-6 col-sm-6 no-space">
						<div class="element-wrapper">
							<div class="element-inner">
								<div class="img-loading-wrapper" style="text-align: center; vertical-align: middle;">
									<span class="fa fa-repeat loading-spinner fa-2x"></span>
								</div>
								<div class="element-img element-hidden">
									<img ng-imageload class="img-responsive img-vitral img-vitral-rotated" ng-src="{{imageList[5].image_url}}"/>
									<div class="element-caption">  
                                        <p>{{imageList[5].image_label}}</p>
                                    </div> 
								</div>
							</div>						
						</div>				
					</div>
				</div>
				<div class="row no-space">
					<div class="col-md-6 col-sm-6 no-space"><!-- Do not remove --></div>
					<div class="col-md-6 col-sm-6 no-space">
						<div class="element-wrapper">
							<div class="element-inner">
								<div class="img-loading-wrapper" style="text-align: center; vertical-align: middle;">
									<span class="fa fa-repeat loading-spinner fa-2x"></span>
								</div>
								<div class="element-img element-hidden">
									<img ng-imageload class="img-responsive img-vitral img-vitral-rotated" ng-src="{{imageList[6].image_url}}"/>
									<div class="element-caption">  
                                        <p>{{imageList[6].image_label}}</p>
                                    </div> 
								</div>
							</div>		
						</div>				
					</div>
				</div>
			</div>
			<div class="col-xs-4 col-sm-4 no-space">
				<div class="element-wrapper">
					<div class="element-inner">
						<div class="img-loading-wrapper" style="text-align: center; vertical-align: middle;">
							<span class="fa fa-repeat loading-spinner fa-2x"></span>
						</div>
						<div class="element-img element-hidden">
							<img ng-imageload class="img-responsive img-vitral img-vitral-rotated" ng-src="{{imageList[7].image_url}}"/>
							<div class="element-caption">  
                                <p>{{imageList[7].image_label}}</p>
                            </div> 
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-4 col-sm-4 no-space">
				<div class="row no-space">
					<div class="col-md-6 col-sm-6 no-space">
						<div class="element-wrapper">
							<div class="element-inner">
								<div class="img-loading-wrapper" style="text-align: center; vertical-align: middle;">
									<span class="fa fa-repeat loading-spinner fa-2x"></span>
								</div>
								<div class="element-img element-hidden">
									<img ng-imageload class="img-responsive img-vitral img-vitral-rotated" ng-src="{{imageList[8].image_url}}"/>
									<div class="element-caption">  
                                        <p>{{imageList[8].image_label}}</p>
                                    </div> 
								</div>
							</div>				
						</div>
					</div>
					<div class="col-md-6 no-space"><!-- Do not remove --></div>
				</div>
				<div class="row no-space">
					<div class="col-md-6 col-sm-6 no-space">
						<div class="element-wrapper">
							<div class="element-inner">
								<div class="img-loading-wrapper" style="text-align: center; vertical-align: middle;">
									<span class="fa fa-repeat loading-spinner fa-2x"></span>
								</div>
								<div class="element-img element-hidden">
									<img ng-imageload class="img-responsive img-vitral img-vitral-rotated" ng-src="{{imageList[9].image_url}}"/>
									<div class="element-caption">  
                                        <p>{{imageList[9].image_label}}</p>
                                    </div> 
								</div>
							</div>				
						</div>				
					</div>
					<div class="col-md-6 col-sm-6 no-space">
						<div class="element-wrapper">
							<div class="element-inner">
								<div class="img-loading-wrapper" style="text-align: center; vertical-align: middle;">
									<span class="fa fa-repeat loading-spinner fa-2x"></span>
								</div>
								<div class="element-img element-hidden">
									<img ng-imageload class="img-responsive img-vitral img-vitral-rotated" ng-src="{{imageList[10].image_url}}"/>
									<div class="element-caption">  
                                        <p>{{imageList[10].image_label}}</p>
                                    </div> 
								</div>
							</div>			
						</div>				
					</div>
				</div>
			</div>
		</div>
		<div class="row row-pad no-space">
			<div class="col-xs-4 col-sm-4 no-space"><!-- Do not remove --></div>
			<div class="col-xs-4 col-sm-4 no-space">
				<div class="row no-space">
					<div class="col-md-6 col-sm-6 no-space">
						<div class="element-wrapper">
							<div class="element-inner">
								<div class="img-loading-wrapper" style="text-align: center; vertical-align: middle;">
									<span class="fa fa-repeat loading-spinner fa-2x"></span>
								</div>
								<div class="element-img element-hidden">
									<img ng-imageload class="img-responsive img-vitral img-vitral-rotated" ng-src="{{imageList[11].image_url}}"/>
									<div class="element-caption">  
                                        <p>{{imageList[11].image_label}}</p>
                                    </div> 
								</div>
							</div>				
						</div>
					</div>
					<div class="col-md-6 col-sm-6 no-space">
						<div class="element-wrapper">
							<div class="element-inner">
								<div class="img-loading-wrapper" style="text-align: center; vertical-align: middle;">
									<span class="fa fa-repeat loading-spinner fa-2x"></span>
								</div>
								<div class="element-img element-hidden">
									<img ng-imageload class="img-responsive img-vitral img-vitral-rotated" ng-src="{{imageList[12].image_url}}"/>
									<div class="element-caption">  
                                        <p>{{imageList[12].image_label}}</p>
                                    </div> 
								</div>
							</div>			
						</div>				
					</div>
				</div>
				<div class="row no-space">
					<div class="col-md-6 col-sm-6 no-space"><!-- Do not remove --></div>
					<div class="col-md-6 col-sm-6 no-space">
						<div class="element-wrapper">
							<div class="element-inner">
								<div class="img-loading-wrapper" style="text-align: center; vertical-align: middle;">
									<span class="fa fa-repeat loading-spinner fa-2x"></span>
								</div>
								<div class="element-img element-hidden">
									<img ng-imageload class="img-responsive img-vitral img-vitral-rotated" ng-src="{{imageList[13].image_url}}"/>
									<div class="element-caption">  
                                        <p>{{imageList[13].image_label}}</p>
                                    </div> 
								</div>
							</div>			
						</div>				
					</div>
				</div>
			</div>
			<div class="col-xs-4 col-sm-4 no-space">
				<div class="element-wrapper">
					<div class="element-inner">
						<div class="img-loading-wrapper" style="text-align: center; vertical-align: middle;">
							<span class="fa fa-repeat loading-spinner fa-2x"></span>
						</div>
						<div class="element-img element-hidden">
							<img ng-imageload class="img-responsive img-vitral img-vitral-rotated" ng-src="{{imageList[14].image_url}}"/>
							<div class="element-caption">  
                                <p>{{imageList[14].image_label}}</p>  
                            </div> 
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="clearfix"></div>
<div ng-vitralpagination style="margin-top:-5%;"></div>
