<div class="vitral-pagination">
        
		<a href="#" ng-click="previousPage()">
            <i class="fa fa-arrow-circle-o-left fa-2x"></i>
        </a>

        <a href="#" ng-click="goToRelativePage(1)">
            <i class="fa fa-circle-o fa-2x"></i> 
        </a>
        <a href="#" ng-click="goToRelativePage(2)">
            <i class="fa fa-circle-o fa-2x"></i> 
        </a>
        <a href="#" ng-click="goToRelativePage(3)">
            <i class="fa fa-dot-circle-o fa-2x"></i> 
        </a>
        <a href="#" ng-click="goToRelativePage(4)">
            <i class="fa fa-circle-o fa-2x"></i> 
        </a>
        <a href="#" ng-click="goToRelativePage(5)">
            <i class="fa fa-circle-o fa-2x"></i> 
        </a>

        <a href="#" ng-click="nextPage()">
            <i class="fa fa-arrow-circle-o-right fa-2x"></i>
        </a>
</div>
