<!doctype html>
<html lang="en" ng-app="vitral">
<head>
  <meta charset="utf-8">
  <title>Vitral Demo</title>
  <link rel="stylesheet" href="css/app.css"/>
  <link rel="stylesheet" href="css/animations.css"/>
  <link rel="stylesheet" href="css/bootstrap.min.css"/>
  <link rel="stylesheet" href="css/bootstrap-theme.min.css"/>
</head>
<body>
    
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Vitral Example</a>
          <p class="navbar-text">Let's the demo begins</p>
        </div>
        <div class="collapse navbar-collapse pull-right">
          <ul class="nav navbar-nav">
            <li><a href="#/view1">Example 1</a></li>
            <li><a href="#/view2">Example 2</a></li>
          </ul>
        </div>
        <!--/.nav-collapse -->
      </div>
    </div>  
    
    <div class="container">
      <div class="starter-template">
        <div class="vitral-example" ng-controller="vitralController">
            
            
            <div vitral-gallery></div>
            
            <a href="" ng-click="previousPage()">Previous Page</a>
            <a href="" ng-click="nextPage()">Next Page</a>
            
            <div class="loading" style="text-align: center;">
                <img class="spinner" src="img/olapic-logo.png"/>
            </div>
            
            <!--ul>
                <li ng-repeat="image in imageList">
                    <img ng-src="{{image.image_url}}" ng-alt="{{image.image_label}}"/>
                </li>
            </ul-->
            
            <!--div class="row row-vitral" ng-repeat="bundle in imageBundle">
                <div class="col-md-4 col-vitral">
                    <div class="row row-vitral">
                        <div class="col-md-12 col-vitral">
                            {{bundle.images}}
                            <img class="img-responsive vitral-img" src="{{imageBundle.highlighted.0.image_url}}"/>
                        </div>
                    </div>
                </div>
            </div-->
            
            <div class="row row-vitral" ng-model="imageBundle">
                <div class="col-md-4 col-vitral">
                    <div class="row row-vitral">
                        <div class="col-md-12 col-vitral">
                            <img class="img-responsive vitral-img" src="{{imageBundle.images[0].image_url}}"/>
                        </div>
                    </div>
                    <div class="row row-vitral">
                        <div class="col-md-12 col-vitral">
                            <div class="row row-vitral">
                                <div class="col-md-6 col-vitral">
                                    <img  class="img-responsive vitral-img" src="{{imageBundle.images[1].image_url}}"/>
                                </div>
                                <div class="col-md-6 col-vitral">
                                    <img  class="img-responsive vitral-img" src="{{imageBundle.images[2].image_url}}"/>
                                </div>
                            </div>
                            <div class="row row-vitral">
                                <div class="col-md-6 col-vitral">
                                    <img  class="img-responsive vitral-img" src="{{imageBundle.images[3].image_url}}"/>
                                </div>
                                <div class="col-md-6 col-vitral">
                                    <img  class="img-responsive vitral-img" src="{{imageBundle.images[4].image_url}}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-vitral">
                    <div class="row row-vitral">
                        <div class="col-md-12 col-vitral">
                            <div class="row row-vitral">
                                <div class="col-md-6 col-vitral">
                                    <img  class="img-responsive vitral-img" src="{{imageBundle.images[5].image_url}}"/>
                                </div>
                                <div class="col-md-6 col-vitral">
                                    <img  class="img-responsive vitral-img" src="{{imageBundle.images[6].image_url}}"/>
                                </div>
                            </div>
                            <div class="row row-vitral">
                                <div class="col-md-6 col-vitral">
                                    <img  class="img-responsive vitral-img" src="{{imageBundle.images[7].image_url}}"/>
                                </div>
                                <div class="col-md-6 col-vitral">
                                    <img  class="img-responsive vitral-img" src="{{imageBundle.images[8].image_url}}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-vitral">
                        <div class="col-md-12 col-vitral">
                            <img class="img-responsive vitral-img" src="{{imageBundle.images[9].image_url}}"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-vitral">
                    <div class="row row-vitral">
                        <div class="col-md-12 col-vitral">
                            <img class="img-responsive vitral-img" src="{{imageBundle.images[10].image_url}}"/>
                        </div>
                    </div>
                    <div class="row row-vitral">
                        <div class="col-md-12 col-vitral">
                            <div class="row row-vitral">
                                <div class="col-md-6 col-vitral">
                                    <img  class="img-responsive vitral-img" src="{{imageBundle.images[11].image_url}}"/>
                                </div>
                                <div class="col-md-6 col-vitral">
                                    <img  class="img-responsive vitral-img" src="{{imageBundle.images[12].image_url}}"/>
                                </div>
                            </div>
                            <div class="row row-vitral">
                                <div class="col-md-6 col-vitral">
                                    <img  class="img-responsive vitral-img" src="{{imageBundle.images[13].image_url}}"/>
                                </div>
                                <div class="col-md-6 col-vitral">
                                    <img  class="img-responsive vitral-img" src="{{imageBundle.images[14].image_url}}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>           
            
            <!--div class="row row-vitral">
                <div class="col-md-4 col-vitral">
                    <div class="row row-vitral">
                        <div class="col-md-12 col-vitral">
                            <img class="img-responsive vitral-img" src="img/cache/normal.jpg"/>
                        </div>
                    </div>
                    <div class="row row-vitral">
                        <div class="col-md-12 col-vitral">
                            <div class="row row-vitral">
                                <div class="col-md-6 col-vitral">
                                    <img  class="img-responsive vitral-img" src="img/cache/normal-2.jpg"/>
                                </div>
                                <div class="col-md-6 col-vitral">
                                    <img  class="img-responsive vitral-img" src="img/cache/normal-3.jpg"/>
                                </div>
                            </div>
                            <div class="row row-vitral">
                                <div class="col-md-6 col-vitral">
                                    <img  class="img-responsive vitral-img" src="img/cache/normal-4.jpg"/>
                                </div>
                                <div class="col-md-6 col-vitral">
                                    <img  class="img-responsive vitral-img" src="img/cache/normal-5.jpg"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-vitral">
                    <div class="row row-vitral">
                        <div class="col-md-12 col-vitral">
                            <div class="row row-vitral">
                                <div class="col-md-6 col-vitral">
                                    <img  class="img-responsive vitral-img" src="img/cache/normal-6.jpg"/>
                                </div>
                                <div class="col-md-6 col-vitral">
                                    <img  class="img-responsive vitral-img" src="img/cache/normal-7.jpg"/>
                                </div>
                            </div>
                            <div class="row row-vitral">
                                <div class="col-md-6 col-vitral">
                                    <img  class="img-responsive vitral-img" src="img/cache/normal-9.jpg"/>
                                </div>
                                <div class="col-md-6 col-vitral">
                                    <img  class="img-responsive vitral-img" src="img/cache/normal-10.jpg"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-vitral">
                        <div class="col-md-12 col-vitral">
                            <img class="img-responsive vitral-img" src="img/cache/normal-8.jpg"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-vitral">
                    <div class="row row-vitral">
                        <div class="col-md-12 col-vitral">
                            <img class="img-responsive vitral-img" src="img/cache/normal-13.jpg"/>
                        </div>
                    </div>
                    <div class="row row-vitral">
                        <div class="col-md-12 col-vitral">
                            <div class="rowr ow-vitral">
                                <div class="col-md-6 col-vitral">
                                    <img  class="img-responsive vitral-img" src="img/cache/normal-11.jpg"/>
                                </div>
                                <div class="col-md-6 col-vitral">
                                    <img  class="img-responsive vitral-img" src="img/cache/normal-12.jpg"/>
                                </div>
                            </div>
                            <div class="row row-vitral">
                                <div class="col-md-6 col-vitral">
                                    <img  class="img-responsive vitral-img" src="img/cache/normal-14.jpg"/>
                                </div>
                                <div class="col-md-6 col-vitral">
                                    <img  class="img-responsive vitral-img" src="img/cache/normal-15.jpg"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div-->

    </div>

  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular/angular-route.js"></script>
  <script src="lib/angular/angular-resource.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/jquery.min.js"></script>
  <script src="js/jquery.transit.min.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
  
  <script type="text/javascript">
      
      //$('.loading-icon').transition({ rotate: '0deg' }).transition({ rotate: '360deg', duration: 600 });
      
//      angular.forEach($scope.imageList,function(value,index){
//                
//      })
      
      $('.spinner').transition({ scale: [0,0], duration:5 }).transition({ scale: [1,1], duration:500 });
      
      $(".vitral-img").mouseover(function(){
        $( this ).animate({ opacity: 0.3 }, 200 );
      })
     .mouseout(function() {
        $( this ).animate({ opacity: 1 }, 200 );
      });;
  </script>
  
</body>
</html>
